[user]
    name = Jacob Certain
    email = jace42+git@gmail.com
[alias]
    logg = log --pretty=oneline
    stat = status --short --branch --untracked-files=no
    sta = status --short --branch --untracked-files=no
