! Comments start with !, C style #define statements can be used only if
! this file is processed with xrdb -merge $HOME/.Xresources

!! URXVT !!
urxvt*font: xft:Inconsolata:style=Medium:pixelsize=16:antialias=true
!urxvt*boldFont: xft:Consolas:style=Regular:pixelsize=15
!URxvt*inheritPixmap: true
URxvt.internalBorder: 0
! URxvt.loginShell: true
URxvt.perl-ext-common: default,matcher,searchable-scrollback
URxvt.pointerBlank: true
URxvt.saveLines: 4000
URxvt.secondaryScroll: true
URxvt.scrollBar: false
*scrollBar: false
*jumpScroll: true
URxvt.scrollTtyKeypress: true
URxvt.scrollWithBuffer: true
URxvt*urlLauncher: /opt/firefox/firefox

!! COLORS !!
#include "/home/jake/.config/Xresources/zenburn"
!#include "/home/jake/.config/Xresources/solarized"
!#include "/home/jake/.config/Xresources/orig"
